<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-header-title" aria-label="back to home">
            Karr Brothers Drywall
        </a>

        <div class="contact">
            <!-- Logo Group -->
            <div class="cs-logo-group">
              <div class="cs-social">
                  <a class="cs-social-link" aria-label="visit instagram profile" href="{{ client.socials.instagram }}" target="_blank" rel="noopener">
                      <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                  </a>
              </div>
            </div>
            <div class="cs-phone">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/phone.svg" alt="icon" width="26" height="26" aria-hidden="true">
                </picture>
                (239) 634-7195
            </div>
            
            <a href="/contact/" class="cs-button-solid cs-nav-button">Contact Us</a>
            
            <!-- WhatsApp Floating Button HTML -->
            <a href="https://api.whatsapp.com/send?phone=12396347195" class="cs-button-solid cs-nav-button cs-whatsapp-button" target="_blank">
              <picture class="cs-icon cs-whatsapp-logo-container">
                <img class="cs-whatsapp-logo" loading="lazy" decoding="async" src="/assets/svgs/whatsapp.svg" alt="icon" width="26" height="26" aria-hidden="true">
              </picture>
              Whatsapp
            </a>
        </div>

    </div>
</header>