<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-header-title" aria-label="back to home">
            Karr Brothers Drywall
        </a>

        <div class="contact">
            <!-- Logo Group -->
            <div class="cs-logo-group">
              <div class="cs-social">
                  <a class="cs-social-link" aria-label="visit google profile" href="{{ client.address.mapLink }}" target="_blank" rel="noopener">
                      <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="google" width="11" height="11">
                  </a>
                  <a class="cs-social-link" aria-label="visit facebook profile" href="{{ client.socials.facebook }}" target="_blank" rel="noopener">
                      <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/facebook.svg" alt="facebook" width="6" height="11">
                  </a>
                  <a class="cs-social-link" aria-label="visit instagram profile" href="{{ client.socials.instagram }}" target="_blank" rel="noopener">
                      <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/instagram.svg" alt="instagram" width="11" height="11">
                  </a>
              </div>
            </div>
            <div class="cs-phone">
                <picture class="cs-icon">
                    <img loading="lazy" decoding="async" src="/assets/svgs/phone.svg" alt="icon" width="26" height="26" aria-hidden="true">
                </picture>
                (239) 332-2488
            </div>
            <a href="/contact/" class="cs-button-solid cs-nav-button">Contact Us</a>
        </div>

    </div>
</header>