/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    width: 100%;
    box-sizing: border-box;
    gap: 1.25rem;
  }
  #blog-sidebar .cs-featured-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem 1.25rem;
  }
  #blog-sidebar .cs-sidebar-header {
    position: relative;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--headerColor);
    text-align: center;
  }
  #blog-sidebar .cs-sidebar-header:after {
    position: relative;
    content: "";
    display: block;
    border-radius: 0.25rem;
    margin: 1rem auto;
    background: var(--headerColor);
    height: 3px;
    width: 4rem;
  }
  #blog-sidebar .cs-sidebar-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding: 1.5rem 0;
    text-decoration: none;
    gap: 1.5rem;
  }
  #blog-sidebar .cs-sidebar-link:nth-of-type(1) {
    padding-top: 0;
  }
  #blog-sidebar .cs-sidebar-link:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  #blog-sidebar .cs-sidebar-img {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 3.75rem;
    width: 3.75rem;
    overflow: hidden;
    flex: none;
  }
  #blog-sidebar .cs-sidebar-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #blog-sidebar .cs-sidebar-title {
    display: block;
    margin: 0;
    margin-bottom: 0.25rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #blog-sidebar .cs-sidebar-date {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #blog-sidebar .cs-toc {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    padding: 0;
    list-style: none;
    font-size: 0.875rem;
    gap: 1rem;
  }
  #blog-sidebar .cs-toc-item {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #blog-sidebar .cs-toc-item.cs-active {
    border-left: 4px solid var(--primary);
    padding-left: 1rem;
  }
  #blog-sidebar .cs-toc-item.cs-active .cs-toc-link {
    font-weight: 700;
    color: var(--primary);
  }
  #blog-sidebar .cs-toc-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--bodyTextColor);
    transition: color 0.2s ease-in-out;
  }
  #blog-sidebar .cs-toc-link:hover {
    color: var(--primary);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-sidebar {
    position: sticky;
    top: 10rem;
    max-width: 22.5rem;
  }
}
/*-- -------------------------- -->
<---        Blog Listing        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    padding: var(--sectionPadding);
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-listing .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-listing .cs-article {
    display: block;
    width: 100%;
    overflow: hidden;
    flex: none;
  }
  #blog-listing .cs-article-image {
    position: relative;
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
    /* 200px - 400px */
    height: clamp(12.5rem, 30vw, 25rem);
    width: 100%;
    overflow: hidden;
  }
  #blog-listing .cs-article-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #blog-listing .cs-article-group {
    border: 1px solid #ebebeb;
    border-radius: 0 0 0.5rem 0.5rem;
    /* 30px - 50px */
    padding: clamp(1.875rem, 5vw, 3.125rem);
  }
  #blog-listing .cs-author-img {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
  }
  #blog-listing .cs-author-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #blog-listing .cs-author-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  #blog-listing .cs-author-name,
  #blog-listing .cs-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #blog-listing .cs-dot {
    display: block;
    border-radius: 50%;
    background-color: var(--primary);
    height: 3px;
    width: 3px;
  }
  #blog-listing .cs-article-title {
    margin: 1rem 0;
    /* 20px - 32px */
    font-size: clamp(1.25rem, 5vw, 2rem);
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #blog-listing .cs-article-desc {
    margin: 1rem 0 2rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-listing {
    flex-direction: row;
    align-items: flex-start;
  }
  #blog-listing .cs-article-title {
    max-width: 34.375rem;
  }
}
/*-- -------------------------- -->
<---     Single Blog Article    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #single-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    padding: var(--sectionPadding);
    gap: 4rem;
  }
  #single-article .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
  }
  #single-article .cs-article-post {
    display: block;
    max-width: 50rem;
    width: 100%;
  }
  #single-article .cs-article-image {
    position: relative;
    display: block;
    border-radius: 0.5rem;
    margin: 0 0 3rem;
    /* 200px - 400px */
    height: clamp(12.5rem, 30vw, 25rem);
    width: 100%;
    overflow: hidden;
  }
  #single-article .cs-article-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #single-article .cs-author-img {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
  }
  #single-article .cs-author-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #single-article .cs-author-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  #single-article .cs-author-name,
  #single-article .cs-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #single-article .cs-dot {
    display: block;
    border-radius: 50%;
    background-color: var(--primary);
    height: 0.1875rem;
    width: 0.1875rem;
  }
  #single-article .cs-article-title {
    margin: 0 0 1rem;
    max-width: 34.375rem;
    /* 20px - 39px */
    font-size: clamp(1.25rem, 5vw, 2.4375rem);
    line-height: 1.4em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #single-article .cs-article-content {
    border-top: 1px solid #ebebeb;
    margin-top: 1rem;
    padding-top: 1.5rem;
  }
  #single-article .cs-article-content h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.75em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #single-article .cs-article-group h2,
  #single-article .cs-article-content h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #single-article .cs-article-group h3,
  #single-article .cs-article-content h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--primary);
  }
  #single-article .cs-article-group h4,
  #single-article .cs-article-group h5,
  #single-article .cs-article-group h6,
  #single-article .cs-article-content h4,
  #single-article .cs-article-content h5,
  #single-article .cs-article-content h6 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #single-article .cs-article-group p,
  #single-article .cs-article-content p {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.6em;
    color: var(--bodyTextColor);
  }
  #single-article .cs-article-group a:not(.cs-button-solid),
  #single-article .cs-article-content a:not(.cs-button-solid) {
    text-decoration: underline;
    font-size: inherit;
    color: var(--secondary);
  }
  #single-article .cs-article-group .cs-button-solid,
  #single-article .cs-article-content .cs-button-solid {
    margin-bottom: 2rem;
  }
  #single-article .cs-article-group ul,
  #single-article .cs-article-group ol,
  #single-article .cs-article-content ul,
  #single-article .cs-article-content ol {
    margin: 1rem 0;
    padding-left: 2.5rem;
  }
  #single-article .cs-article-group ul li,
  #single-article .cs-article-group ol li,
  #single-article .cs-article-content ul li,
  #single-article .cs-article-content ol li {
    margin-bottom: 1rem;
    list-style: circle;
    font-size: 1rem;
    line-height: 1.6em;
    color: var(--bodyTextColor);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #single-article {
    flex-direction: row;
    align-items: flex-start;
  }
}
/*# sourceMappingURL=blog.css.map */